.viewer-page header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.issues-states {
    display: flex;
}

.issue-state {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 24px;
}

.issue-state:not(:first-child) {
    margin-left: 46px;
}

.issue-state-selected {
    border-bottom: 1px solid #ccc;
}