.viewer-page header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 40px;
    border: 2px solid #000;
}

.viewer-content {
    padding: 0 40px;
}

.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.issues-states {
    display: flex;
    padding-bottom: 10px;

    width: calc(100vw - 60px);
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.issue-state {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 24px;
    flex-shrink: 0;
}

.issue-state:not(:first-child) {
    margin-left: 46px;
}

.issue-state-selected {
    border-bottom: 1px solid #ccc;
}

.no-content-state {
    height: 100%;
    margin-top: 50px;
    text-align: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .viewer-content {
        padding: 0 20px;
    }

    .viewer-page header {
        flex-direction: column;
        align-items: flex-start;
        font-size: 14px;
    }
}