.search-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-page-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

.search-page-content form {
    margin-top: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-page-content input {
    width: 100%;
    max-width: 700px;
    font-size: 24px;
    padding: 24px;
    border-radius: 10px;
    border: 2px solid #000;

    outline: 0;
}

.search-page-content input.input-invalid {
    border-color: red;
}