.issue-card {
    width: 420px;
    height: 240px;
    border: 2px solid #000;
    margin-bottom: 50px;
}

.issue-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.issue-title a {
    text-decoration: none;
    color: inherit;
}

.issue-card-content {
    padding: 24px;
    display: flex;
    flex-direction: column;

    position: relative;
    height: 100%;
    box-sizing: border-box;
}

.issue-description {
    margin: 16px 0 28px 0;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

    font-size: 18px;
    line-height: 24px;
}

.issue-labels {
    display: flex;
    list-style: none;
    position: absolute;

    /* todo: use CSS vars to have consistent padding + and this value */
    bottom: 24px;
}

.issue-labels li {
    font-size: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 4px 8px;


}

.issue-labels li:not(:last-child) {
    margin-right: 10px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .issue-card {
        width: 100%;
    }

    .issue-labels {
        flex-wrap: wrap;
    }

    .issue-labels li {
        margin: 2px;
    }

}